.btn{
  display:inline-block;
  box-sizing: border-box;
  padding: 15px 20px 14px;
  border-radius:22px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform:uppercase;
}
