div(class="UIKit-buttons")
  span buttons<br>
  div(class = 'btn btn_purple') click me
  div(class = 'btn btn_purple btn_purple_hover') click me
  div(class = 'btn btn_purple-border') click me
  div(class = 'btn btn_purple-border btn_purple-border_hover') click me
  span(class = 'btn-word-purple') click me
  span(class = 'btn-word') click me
