doctype html
html
  head
    title Sign In
    meta(charset ='utf-8')
  body
    include ./../../mixins/mixins.pug
    +header(false)
    .signIn-wrapper.signInUp-wrapper
      include ./../../UI kit/cards/signIn/signIn.pug
    include ./../../UI kit/headers&footers/footer-widgetsNcopyright.pug
