.purchasesList
  text-align: center

.purchasesList__info
  margin-bottom: 35px

.purchasesList__table
  width: 50%
  min-width: 320px
  border-collapse: collapse
  margin: 0 auto

  td, th
    width: 50%
    padding: 10px
    border: 2px solid #000

  th
    padding: 15px
