div(class="expandable-checkbox expandable-checkbox--expanded")
  p(class="checkbox__text") expandable checkbox list
    span(class="checkbox__text__arrow" style="transform:rotateZ(270deg)")
  div(class="expandable-checkbox-wrapper" id="expanded")
    div(class="checkbox__part expandable-checkbox__part")
      input(type="checkbox" id="breakfast")
      label(class="checkbox__btn" for="breakfast") Завтрак
    div(class="checkbox__part expandable-checkbox__part")
      input(type="checkbox" id="table" checked)
      label(class="checkbox__btn" for="table") Письменный стол
    div(class="checkbox__part expandable-checkbox__part")
      input(type="checkbox" id="child-chair" checked)
      label(class="checkbox__btn" for="child-chair") Стул для кормления
    div(class="checkbox__part expandable-checkbox__part")
      input(type="checkbox" id="child-bed")
      label(class="checkbox__btn" for="child-bed") Кроватка
    div(class="checkbox__part expandable-checkbox__part")
      input(type="checkbox" id="TV" checked)
      label(class="checkbox__btn" for="TV") Телевизор
    div(class="checkbox__part expandable-checkbox__part")
      input(type="checkbox" id="shampoo" checked)
      label(class="checkbox__btn" for="shampoo") Шампунь
    div(class="checkbox__part expandable-checkbox__part")
      input(type="checkbox" id="TV1" checked)
      label(class="checkbox__btn" for="TV1") Телевизор
    div(class="checkbox__part expandable-checkbox__part")
      input(type="checkbox" id="shampoo1" checked)
      label(class="checkbox__btn" for="shampoo1") Шампунь
