div(class = 'price-range')
  span(class = 'price-range__title') диапазон цены
  span(class="price-range__slider-result")
  div(class = 'price-range__slider')
  p(class = 'price-range__text') Стоимость за сутки пребывания в номере
