.price-range{
  display: inline-block;
  width: 266px;
  height:72px;
}

.price-range__title{
font-family: 'Montserrat', serif;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
margin-right:42.74px;
}

.price-range__slider-result {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}

.price-range__text{
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.ui-slider.ui-slider-horizontal {
    background: #fff;
    height:6px;
    width:266px;
    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius:3px;
    margin-top: 20px;
    margin-bottom:10.56px;
}

.ui-slider .ui-slider-handle {
    width: 12px;
    height: 12px;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    outline:0;
}

.ui-slider.ui-slider-horizontal .ui-slider-range {
    top:-1px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    height:6px;
    border: 0;
    box-sizing: border-box;
}
