div(class="checkbox")
  p(class="checkbox__text") checkbox buttons
  div(class="checkbox__part")
    input(type="checkbox" id="smoke")
    label(class="checkbox__btn" for="smoke") Можно курить
  div(class="checkbox__part")
    input(type="checkbox" id="pet" checked)
    label(class="checkbox__btn" for="pet") Можно с питомцами
  div(class="checkbox__part")
    input(type="checkbox" id="guests" checked)
    label(class="checkbox__btn" for="guests") Можно пригласить гостей<br>(до 10 человек)
