.checkbox{
  width:222px;
  height:129px;
  display: inline-block;
}

  .checkbox__part{
    display:block;
    color: fade-out($dark-shade, .5);
    margin-bottom:5px;

    input[type='checkbox']{
      display:none;
    }

    label.checkbox__btn{
      font-size: 14px;
      line-height: 18px;
      position:relative;
      left:30px;
      cursor:pointer;
    }

    .checkbox__btn:before{
      content:"";
      position:absolute;
      left:-30px;
      top:0;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid fade-out($dark-shade, .75);
      box-sizing: border-box;
      border-radius: 4px;
    }

    .checkbox__btn:after{
      width:0;

    }

    input[type='checkbox']:checked{
      ~.checkbox__btn:before{
        border-color: $purple;
      }

      ~.checkbox__btn:after{
        content:"";
        position:absolute;
        left:-25px;
        top:5px;
        width: 8px;
        height: 6px;
        border-left: 2px solid $purple;
        border-bottom: 2px solid $purple;
        transform: rotate(-45deg);
      }
    }
  }

  .checkbox__text{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade;
    margin-bottom:17px;
  }
