div(class='date-dropdown') 
  div(class="date-dropdown__part date-dropdown__part-from")
    label(for="dateFrom") date dropdown
    span(class="date-dropdown__arrow")
    input(id="dateFrom" type="text" class="dateFrom" placeholder="ДД.ММ.ГГГГ")
  div(class="date-dropdown__part")
    label(for="dateTo") date dropdown
    span(class="date-dropdown__arrow")
    input(id="dateTo" type="text" class="dateTo" placeholder="ДД.ММ.ГГГГ" value="19.08.2019")
