div(class="radio-btns")
  div(class="radio-btns-wrapper")
    input(type="radio" id="man" name="radio" checked)
    label(class="radio-btns__btn" for="man") Мужчина
  div(class="radio-btns-wrapper")
    input(type="radio" id="woman" name="radio")
    label(class="radio-btns__btn" for="woman") Женщина
