mixin bullet-list(title)
  div(class='bullet-list')
    p(class="bullet-list__text")= title
    ul(class='bullet-list-wrapper')
      li Нельзя с питомцами
      li Без вечеринок и мероприятий
      li Время прибытия - после 13:00,<br>а выезд до 12:00
