.footer-creative{
  width: 100%;
  height: 367px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background: #fff;
}

.footer-creative-wrapper{
  width: (560/1440) * 100%;
  margin: 0 auto;
  padding: 100px 0 110px;
  display: flex;
  flex-direction: column;
}

.footer-creative__logo, .footer-creative__brands{
  display: inline-block;
  margin: 0 auto;
}

.footer-creative__text{
  text-align: center;
  margin: 20px auto 25px;
}

.footer-creative__brands{
  margin: 0 auto;
}

.footer__brands{
    display: inline-block;
    font-size: 24px;
    color: $purple ;
}

.brands_twitter, .brands_facebook{
  margin-right: 20px;
}

.logo__text{
  display: inline-block;
  color: $dark-shade;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 12.5px;
  position: relative;
  bottom: 15px;
}
