footer.footer-WnC
  .footer-WnC-widgets
    .footer-WnC-widgets__part
      .footer-WnC-widgets__part__logo
        include ./../../blocks/logo/logo_color.pug
        span.logo__text toxin
      p.footer-WnC-widgets__part__text  Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .footer-WnC-widgets__nav
      span.f__bold navigation
      span.hf__text About Us
      span.hf__text News
      span.hf__text Support
      span.hf__text Products
    .footer-WnC-widgets__aboutUs
      span.f__bold about us
      span.hf__text Who we are
      span.hf__text Our team
      span.hf__text Careers
      span.hf__text Investors
    .footer-WnC-widgets__sup
      span.f__bold support
      span.hf__text Documentation
      span.hf__text Community
      span.hf__text Get in Touch
    .footer-WnC-widgets__sub
      span.f__bold subscribe to our newsletter
      p Receive our latest news and promotions in your inbox!
      +text-field_sub('Your email address')
  .footer-WnC-copyright
    span.footer-WnC-copyright__text Copyright © 2018 Toxin UI Kit. All rights reserved.
    .footer__brands.footer-WnC-copyrigh__brands
      span.fab.fa-twitter.brands_twitter
      span.fab.fa-facebook-square.brands_facebook
      span.fab.fa-instagram
