.footer-WnC{
  width: 100%;
  height: 442px;
  background: #fff;
}

.footer-WnC-widgets{
  display: flex;
  width: 100%;
  height: 372px;
  box-sizing: border-box;
  padding: 100px (140/1440)*100% 104px;

  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

  .f__bold{
    display: inline-block;
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade;
  }

  .hf__text{
    display: inline-block;
    margin-bottom: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: fade-out($dark-shade, .5);
  }

}

.footer-WnC-widgets__part{
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  .footer-WnC-widgets__part__text{
    margin-top:20px;
  }
}

.footer-WnC-widgets__nav{
  margin-right: 119px;
  display: flex;
  width: 82px;
  flex-direction: column;
}

.footer-WnC-widgets__aboutUs{
  margin-right: 118px;
  width: 90px;
  display: flex;
  flex-direction: column;
}

.footer-WnC-widgets__sup{
  margin-right: 87px;
  display: flex;
  flex-direction: column;
}

.footer-WnC-widgets__sub{
  width: 260px;
  display: flex;
  flex-direction: column;
  p{
    margin-bottom: 20px;
  }
}

.footer-WnC-copyright{
  width: 100%;
  height: 70px;
  padding: 0 (140/1440)*100%;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.footer-WnC-copyright__text{
  padding: 26px 0;
  display: inline-block;
}

.footer-WnC-copyrigh__brands{
  float:right;
  padding: 23px 0;
}

.footer__brands{
    display: inline-block;
    font-size: 24px;
    color: $purple ;
}

.brands_twitter, .brands_facebook{
  margin-right: 20px;
}

.logo__text{
  display: inline-block;
  color: $dark-shade;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 12.5px;
  position: relative;
  bottom: 15px;
}
