div(class="dropdown-wrapper dropdown_features-wrapper")
  div(class="btn-dropdown btn-dropdown_features") 
    div(class='btn-dropdown-text btn-dropdown_features-text') 
      span(class="btn-dropdown_features-text__bedroom-count") 2
      span(class="btn-dropdown_features-text__bedroom-word") &nbspспальни, 
      span(class="btn-dropdown_features-text__bed-count") 2
      span(class="btn-dropdown_features-text__bed-word") &nbspкровати...
    div(class="btn-dropdown__arrow btn-dropdown_features__arrow")
  ul(class='dropdown dropdown_features') 
    li спальни 
      div(class="dropdown__btns-wrapper")
        span(class="dropdown__minus-circle bedroom-minus") -
        span(class="dropdown__count bedroom-count") 2
        span(class="dropdown__plus-circle bedroom-plus") +
    li кровати 
      div(class="dropdown__btns-wrapper")
        span(class="dropdown__minus-circle bed-minus") -
        span(class="dropdown__count bed-count") 2
        span(class="dropdown__plus-circle bed-plus") +
    li ванные комнаты
      div(class="dropdown__btns-wrapper")
        span(class="dropdown__minus-circle bathroom-minus") -
        span(class="dropdown__count bathroom-count") 0
        span(class="dropdown__plus-circle bathroom-plus") +
