div(class="dropdown-wrapper")
  div(class="btn-dropdown btn-dropdown_features") 
    div(class='btn-dropdown-text btn-dropdown_features-text') 
      span(class="btn-dropdown_features-text__bedroom-count") 2
      span(class="btn-dropdown_features-text__bedroom-word") &nbspспальни, 
      span(class="btn-dropdown_features-text__bed-count") 2
      span(class="btn-dropdown_features-text__bed-word") &nbspкровати...
    div(class="btn-dropdown__arrow btn-dropdown_features__arrow")
