div(class="dropdown-wrapper")
  a(class="btn-dropdown btn-dropdown_guests") 
    span(class='btn-dropdown__text btn-dropdown_guests-text') Сколько гостей
    span(class="btn-dropdown__arrow btn-dropdown_guests__arrow")
