div(class="dropdown-wrapper")
  a(class="btn-dropdown btn-dropdown_guests") 
    span(class='btn-dropdown__text btn-dropdown_guests-text') Сколько гостей
    span(class="btn-dropdown__arrow btn-dropdown_guests__arrow")
  ul(class='dropdown dropdown_guests' id="expanded") 
    li взрослые 
      div(class="dropdown__btns-wrapper")
        span(class="dropdown__minus-circle adults-minus") -
        span(class="dropdown__count adults-count") 0
        span(class="dropdown__plus-circle adults-plus") +
    li дети 
      div(class="dropdown__btns-wrapper")
        span(class="dropdown__minus-circle kids-minus") -
        span(class="dropdown__count kids-count") 0
        span(class="dropdown__plus-circle kids-plus") +
    li младенцы
      div(class="dropdown__btns-wrapper")
        span(class="dropdown__minus-circle babies-minus") -
        span(class="dropdown__count babies-count") 0
        span(class="dropdown__plus-circle babies-plus") +
    li 
      div(class="dropdown_guests__bottom-btns")
        span(class="bottom-btns__btn-clear-all") очистить
        span(class="bottom-btns__btn-apply") применить
