div(class="comment")
  div(class="comment__author")
    span(class="__photo __photo_Murad")
    p(class="__info")
      span(class="__name") Мурад Сарафанов<br>
      span(class="__time") 5 дней назад
  span(class="comment__like") 
    include ./../like-btn/like-btn.pug
  p(class="comment__text") Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
