$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import'~material-design-icons-iconfont/src/_mixins.scss';
@import'~material-design-icons-iconfont/src/_variables.scss';

.room-details__images{
  height: 485px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 70px;
  img.main-photo{
    width: 68vw;
    height: 100%;
  }
  img{
    width: 32vw;
    height: 50%;
  }
}

.room-details-wrapper{
  margin-bottom: 70px;
}

.room-details-wrapper__info{
  width: 710px;
  margin-right: 70px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .__title{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;;
    display: inline-block;
    margin-bottom: 20px;
  }

  .__title.__title_rules{
    margin-bottom: 0;
  }

  .room-details-wrapper__icons{
    width: 291px;
    height: 273px;
    margin-bottom: 30px;

    .icon-text-list{
      margin-bottom: 20px;
    }

    .icon-text-list__part__icon_fire{
      @include material-icon('whatshot');
    }

    .icon-text-list__part._fire:after{
      content:'';
      width:0;
    }
  }

  .room-details-wrapper__impression{
    width: 350px;
    height: 170px;

    .votes__rate{
      width: 120px;
      height: 120px;
      margin-right: 45px;
    }

    .impression__votes{
      position: relative;
    }

    .impression__votes:before{
      content: '260';
      position: absolute;
      top: 35px;
      left:40px;
      width: 40px;
      height: 15px;
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      line-height: 30px;
      color: #BC9CFF;
    }

    .impression__votes:after{
      content: 'голосов';
      position: absolute;
      top: 65px;
      left:42px;//** should be 28px
      height: 30px;
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #BC9CFF;
    }

    .votes__list{
      display: inline-block;
      li{
        position: relative;
      }
      li:before{
        content:'';
        position: absolute;
        left: -15px;
        top: 7px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
      }
      .__orange:before{
        background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);;
      }
      .__green:before{
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);;
      }
      .__purple:before{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);;
      }
      .__black:before{
        background: linear-gradient(180deg, #919191 0%, #3D4975 100%);;
      }
    }
  }

  .room-details-wrapper__comments{
    width: 710px;
    .comment .__photo_Patricia{
      background: url(./../../images/comment_Patricia.png);
      background-position: -21px -11px;
    }
  }

  .room-details-wrapper__rules{
    width: 290px;
  }

  .room-details-wrapper__rules-cancel{
    width: 340px;
  }
}

.room-details-wrapper__card{
  .room-filtered{
    display: inline-block;
  }
}

.footer-WnC{
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}
