doctype html
html
  head
    title Registration
    meta(charset ='utf-8')
  body
    include ./../../mixins/mixins.pug
    +header(false)
    .registration-wrapper.signInUp-wrapper
      include ./../../UI kit/cards/signUp/signUp.pug
    include ./../../UI kit/headers&footers/footer-widgetsNcopyright.pug
