div(class="icon-text-list")
  div(class="icon-text-list__part") 
    span(class="icon-text-list__part__icon icon-text-list__part__icon_emotion")
    p(class="icon-text-list__part__text above-text") 
      span(class="text-bold") Комфорт<br>
      span Шумопоглощающие стены
  div(class="icon-text-list__part") 
    span(class="icon-text-list__part__icon icon-text-list__part__icon_city")
    p(class="icon-text-list__part__text") 
      span(class="text-bold") Удобство<br>
      span Окно в каждой из спален
