//--   Миксины
include ./../blocks/text-field/text-field_sub.pug
include ./../blocks/buttons/btn_with-arrow/btn_with-arrow.pug
include ./../blocks/rate-btn/rate-btn.pug
include ./../UI Kit/cards/room-properties/room-properties.pug
include ./../UI Kit/headers&footers/header.pug
include ./../UI Kit/colors&type/color-mixin.pug
include ./form-element-container.pug
include ./../blocks/checkbox/rich-checkbox/rich-checkbox.pug
include ./../blocks/checkbox/expandable-checkbox/expandable-checkbox.pug
include ./../blocks/bullet-list/bullet-list.pug
